doctype html
html
  head
    title= ' E-file Search Demo'
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:200,400,500')
    link(rel='stylesheet', href='/css/app.css')
  body
    div#app
    script(src='/js/app.js')